<% if flash[:message] %>
    <p class="alert"><%= flash[:message] %></p>
<% end %>

<p>
Here's your payrolls:
</p>

<div>
  <p>Total Payrolls: <%= @payrolls.count %></p>
  <ul>
    <% @payrolls.each do |payroll| %>
       <li>
         <%= link_to payroll.payroll_for_month, payroll %>
       </li>
    <% end %>
  </ul>
</div>
