<p>
Detail of this payroll
<a href="/payroll">Back to payroll center</a>
</p>

<div>
  <p>
    <span>name</span>
    <span><%= @payroll.name_chn %></span>
  </p>

  <p>
    <span>name</span>
    <span><%= @payroll.name_eng %></span>
  </p>

  <p>
    <span>salary</span>
    <span><%= @payroll.salary %></span>
  </p>

  <p>
    <span>period</span>
    <span><%= @payroll.period %></span>
  </p>
</div>
