
<div id="logo-container" class="center-container">
  <h1>
    MyPayroll <small>activate</small>
  </h1>
</div>

<div id="login-form" class="center-container well">
  <% if flash[:message] %>
      <div class="alert"><%= flash[:message] %></div>
  <% end %>

  <%= form_tag "/auth/activate", {:method => "post", :id => "login-form"} do %>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls input-append">
          <%= text_field_tag "email", "", :class => "span2", :placeholder => "Employee Id", :maxlength => 5 %>
          <span class="add-on">@thoughtworks.com</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <%= password_field_tag "temp_password", "", :placeholder => "Password", :maxlength => 32 %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Sign in to activate</button>
        </div>
      </div>
      <div>
        <i class="icon-question-sign"></i>
        <a href="#">No account?</a> or
        <a href="/"> already activated</a>
      </div>
  <% end %>
</div>