
<div id="logo-container" class="center-container">
  <h1>
    MyPayroll <small>activate</small>
  </h1>
</div>

<div id="login-form" class="center-container well">
  <% if flash[:message] %>
      <div class="alert"><%= flash[:message] %></div>
  <% end %>

  <p class="alert alert-success">To finish activation, please setup your password.</p>

  <%= form_tag ({:action => "set_password"}, {:method => "post", :id => "login-form"}) do %>
      <div class="control-group">
        <label class="control-label" for="password1">Password</label>
        <div class="controls input-append">
          <%= password_field_tag "password1", "", :class => "", :placeholder => "Password", :maxlength => 32 %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Re-enter password</label>
        <div class="controls">
          <%= password_field_tag "password2", "", :class => "", :placeholder => "Re-enter password", :maxlength => 32 %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Submit to finish activation</button>
        </div>
      </div>
  <% end %>
</div>