/* --------- base style --------- */
body {
    font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
    color: #111;
}

.center-container {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.more-info {
    margin-bottom: 20px;
}

/* --------- override style --------- */
.control-label {
    font-weight: bold;
}

/* --------- login page --------- */

#logo-container {
    width: 300px;
}

#login-form {
    width: 300px;
    padding: 10px;
}

#login-form input[type="password"], #login-form input[name="username"] {
    width: 265px;
}

